go 1.24

use (
	.
	./pkg/blockchain
	./pkg/common
	./pkg/database
	./pkg/kms
	./pkg/security
	./pkg/vc
	./services/anchor-svc
	./services/api-gateway
	./services/did-svc
	./services/issuer-svc
	./services/ml-svc
	./services/verifier-svc
)
